cmake-build-debug
cmake-build-release
build
assets/bidir/models
assets/livingroom/models
assets/livingroom/textures
assets/teapot/models
assets/teapot/textures
assets/ball/models
assets/bathroom2/models
assets/bathroom2/textures
.idea
readme.pdf

# macOS
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store
*.DS_Store
._*
**/.Spotlight-V100
**/.Trashes
**/.VolumeIcon.icns
**/.fseventsd