[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/pugixml"]
	path = ext/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/tinyexr"]
	path = ext/tinyexr
	url = https://github.com/syoyo/tinyexr.git
